
body{
    margin: 0%;
}

#header1{
    text-align: center;
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40pt;
}

a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: white;
}

a:hover{
    text-decoration:none;
    color:black;
}

#nav-col{
    
    border: 1px solid black;
    width: fit-content;
    margin-bottom: 20px;
}

.nav-list{
    display: inline;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: brown;
    border-radius: 50px;
}

#nav-col{
    margin-left: auto;
    margin-right: auto;
}

.collumn{
    margin: 10px;
}

#top-col{
    border: 1px solid black;
    width: 100%;
    height: 50%;
    
}


#main-col{
    float: inline-start;
    margin-left: 0%;
    margin-right: 0%;
    border: 1px solid black;
    width: 100%;
    height: 800px;
}


#footer-col{
    border: 1px solid black;
    clear: both;
    height: 400px;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
}

.home-p{
    margin-left: 5%;
}
